{% extends 'Back/layout.html.twig' %}

{% block content %}
<div class="container-fluid">
    <div class="row mt-5 justify-content-center">
        <div class=" col-md-5 col-sm-8 center-block justify-content-center">
            <h2>Les stations</h2>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Station</th>
                    <th scope="col">Adresse</th>
                    <th scope="col">Ville</th>
                </tr>
                </thead>
                <tbody>
                {% for station in stations %}
                <tr>
                    <th scope="row">{{ station.id }}</th>
                    <td>{{ station.station_name }}</td>
                    <td>{{ station.number }} {{ station.street_name }}</td>
                    <td>{{ station.city }}</td>
                    <td><a href="/back/edit/{{ station.id }}">editer</a></td>
                </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
        <div class="col-4">
            <h2>Ajout de Stations</h2>
            <form action="/back/{{path}}/{{ currentStation.id }}" method="post">
                <label>Nom de Station</label>
                <input name="station_name" value="{{ currentStation.station_name }}">

                <label>Numero</label>
                <input name="number" value="{{ currentStation.number }}">

                <label>Nom de la rue</label>
                <input name="street_name" value="{{ currentStation.street_name }}">

                <label>Code Postal</label>
                <input name="zipcode" value="{{ currentStation.zipcode }}">

                <label>Ville</label>
                <input name="city" value="{{ currentStation.city }}">
                <button type="submit">{{ button }}</button>
                <a href="/back/delete/{{ currentStation.id }}">{{ buttonDelete }}<a >
            </form>

        </div>

    </div>

</div>



{% endblock %}