{% extends "./Back/layout.html.twig" %}

{% block content %}
    <div class="container-fluid">
        <div class="row mt-5 justify-content-center">
            <div class=" col-md-5 col-sm-8 center-block ">
                <h2>Véhicules</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Capacité</th>
                        <th scope="col">Immatriculation</th>
                        <th scope="col"> Contrôle Technique</th>
                        <th scope="col">Prix</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for vehicle in vehicles %}
                        <tr>
                            <th scope="row">{{ vehicle.id }}</th>
                            <td>{{ vehicle.capacity }}</td>
                            <td>{{ vehicle.registration }} </td>
                            <td>{{ vehicle.technical_control }}</td>
                            <td>{{ vehicle.price }}</td>
                            <td><a href="/vehicle/edit/{{ vehicle.id }}">editer</a></td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
            <div class="col-5 center-block">
                <h2>Ajout de vehicules</h2>
                <form action="/vehicle/{{ path }}/{{ currentvehicle.id }}" method="post">
                    <div class="form-group d-flex flex-column">
                        <label>Capacité</label>
                        <input name="capacity" value="{{ currentvehicle.capacity }}" required pattern="[0-9]"  maxlength="1">
                    </div>
                    <div class="form-group d-flex flex-column">
                        <label>Immatriculation</label>
                        <input type="number" name="registration" value="{{ currentvehicle.registration }}" required  maxlength="7">
                    </div>
                    <div class="form-group d-flex flex-column">
                        <label>Date rappel Contrôle Technique</label>
                        <input type="date" class="form-control" value="2019-11-08" placeholder="Date" name="technical_control" required>
                    </div>
                    <div class="form-group d-flex flex-column">
                        <label>Prix</label>
                        <input name="price" value="{{ currentvehicle.price }}" required type="number" maxlength="3">
                    </div>
                    <button type="submit">{{ button }}</button>
                    <a onclick="return(confirm('Etes-vous sûr de vouloir supprimer ?'));" href="/vehicle/delete/{{ currentvehicle.id }}">{{ buttonDelete }}</a>
                </form>

            </div>

        </div>

    </div>
{% endblock %}